<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint} %clr{%5p} %clr{${sys:PID}}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n%xwEx
        </Property>
        <Property name="PATH">/var/log/taskflow/</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="infoAbove" fileName="${PATH}info.log"
                     filePattern="${PATH}info-%d{yyyy-MM-dd}-%i.log.zip">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <LevelRangeFilter minLevel="warn" maxLevel="info" onMatch="accept" onMismatch="deny"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="8MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>


    </Appenders>

    <Loggers>
        <Logger level="debug" name="com.hikvision.hbfa.sf" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger level="info" name="com.hikvision.hbfa.sf.dao" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger level="info" name="db.migration" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
