<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 这个文件没啥用，但Idea要用来解析语法 -->

    <typeAliases>
        <package name="com.hikvision.hbfa.sf.entity"/>
    </typeAliases>

    <mappers>
        <package name="com.hikvision.hbfa.sf.dao"/>
    </mappers>


</configuration>
